{% extends 'main.html' %}
{% load static %}

{% block add_css %}
<link href="{% static 'products/css/home.css' %}" rel="stylesheet"/>
{% endblock add_css %}

{% block content %}

<div class="bgcouleur header"></div>

<div class="product">
    <div class="row" id="nameP">
        <div class="col-sm-4 text-center">
            <img src="{{product.picture}}" style="width:30%" class="picture">
        </div>
        <div class="col-sm-4 text-center">
            <p>{{product.name}}</p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{{product.picture}}" style="width:30%" class="picture">
        </div>
    </div>
</div>

<div class="container">
    <div class="row message text-center">
        <div class="col-sm-6">
            <p>Nutriscore</p>
            {{product.nutriscore}}
        </div>
        <div class="col-sm-6">
            <p>Repères nutrionnels pour 100g.</p>
            <img src="{{product.calories}}" width="30%"></img>
        </div>
    </div>
    <div class="bas">
        <a href={{product.url}} class="bordure">Voir la fiche d'Openfoodfacts</a>
    </div>
</div>


<div class="backgroundProduct text">
    <p> Vous pouvez remplacer votre produit par:</p>
</div>
<div class="row">
    {% if substitutes %}
    {% for substitute in substitutes %}
    <div class="col-md-4">
        <img class="card-img-top">
        <div class="card text-black ">
            <img src="{{substitute.picture}}" alt="Card image cap" class="picture">
            <div class="card-img-overlay">
                <p class="card-text text-end">{{ substitute.nutriscore }}</p>
            </div>
        </div>
        <div class="card-body">
            <p class="message">{{ substitute.name }}</p>
        </div>
        <a href="{% url 'products:food' product_id=substitute.id %}" class="btn btn-primary"> voir détail de
            l'aliment </a>
        <a href="{% url 'products:save' product_id=substitute.id original_product_id=product.id %}"
           class="btn btn-primary">Sauvegarder </a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="header text">
    Aucun substitut n'a été trouvé
</div>
{% endif %}

{% endblock %}