{% extends 'main.html' %}
{% load static %}

{% block add_css %}
<link href="{% static 'products/css/home.css' %}" rel="stylesheet"/>
{% endblock add_css %}

{% block content %}
<div>
    <header class="masthead" id="content"
            style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('{% static 'products/assets/img/background/home_page.jpg' %}'); background-size:cover;">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="title text-white font-weight-bold message">
                        MENTIONS LEGALES
                    </h1>
                    Développé par : Claire Biedermann

                    Développé avec : Django

                    Template : Boostrap

                    Base de donnée : PostgreSQL

                    Déployé avec : Heroku

                    Image/icône : Chartre Graphique
                </div>
            </div>
        </div>
</div>
{% endblock %}