{% extends 'main.html' %}
{% load static %}

{% block add_css %}
<link href="{% static 'products/css/home.css' %}" rel="stylesheet"/>
{% endblock add_css %}

{% block content %}
<div>
    <div style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('{% static 'products/assets/img/background/home_page.jpg' %}'); background-size:cover;">
        <div class="textMention ">
            <p class=".h5" >MENTIONS LÉGALES</p><br>
            <hr class="divider"/>
            Développé par :<a href="https://www.linkedin.com/in/claire-biedermann-b21671166/">Claire Biedermann </a></br>
            <hr class="divider"/>
        Développé avec :<a href="https://www.djangoproject.com/">Django</a><br>
            <hr class="divider"/>
        Template :<a href="https://getbootstrap.com/">Boostrap</a><br>
            <hr class="divider"/>
        Base de donnée :<a href="https://www.postgresql.org/">PostgreSQL</a><br>
            <hr class="divider"/>
        Déployé avec :<a href="https://id.heroku.com/login">Heroku</a><br>
            <hr class="divider"/>
        Image/icône :<a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9">Chartre Graphique</a>
        </div>
    </div>
</div>
{% endblock %}