{% extends 'main.html' %}
{% load static %}

{% block add_css %}
<link href="{% static 'products/css/home.css' %}" rel="stylesheet"/>
{% endblock add_css %}

{% block content %}
<div>
    <header class="masthead" id="content"
            style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('{% static 'products/assets/img/background/home_page.jpg' %}'); background-size:cover;">
        <div class="textMention font-weight-bold ">
            <p >MENTIONS LEGALES</p></br>
            <hr class="divider"/>
        Développé par : Claire Biedermann </br>
            <hr class="divider"/>
        Développé avec : Django </br>
            <hr class="divider"/>
        Template : Boostrap </br>
            <hr class="divider"/>
        Base de donnée : PostgreSQL <br>
            <hr class="divider"/>
        Déployé avec : Heroku </br>
            <hr class="divider"/>
        Image/icône : Chartre Graphique
        </div>
    </header>
</div>
{% endblock %}