{% extends 'main.html' %}
{% load static %}

{% block add_css %}
<link href="{% static 'products/css/home.css' %}" rel="stylesheet"/>
{% endblock add_css %}

{% block content %}
<div class="backgroundProduct text">
    <p> Produit recherché</p>
</div>

    <p>Vous pouvez remplacer votre produit par:</p>
<div class="col-4">
        <div class="card-columns">
            <div class="card-body">
    {% if products %}
    {% for product in products %}

                <img src="{{product.picture}}" class="picture">
                <div class="topright circle">
                    <p>{{ product.nutriscore }}</p>
                </div>
                <p class="message">{{ product.name }}</p>
            </div>
            <a href="{% url 'products:food' product_id=product.id %}"> voir détail de l'aliment </a>
        </div>
        {% endfor %}
        {% else %}
        <p>Aucun substitut n'a été trouvé</p>
        {% endif %}
    </div>
</div>
{% endblock %}